@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito Sans';
    font-weight: 900;
    src: url("../fonts/Nunito_Sans/static/NunitoSans_10pt-Black.ttf");
}
@font-face {
    font-family: 'Nunito Sans';
    font-weight: 700;
    src: url("../fonts/Nunito_Sans/static/NunitoSans_10pt-Bold.ttf");
}
@font-face {
    font-family: 'Nunito Sans';
    font-weight: 500;
    src: url("../fonts/Nunito_Sans/static/NunitoSans_10pt-Medium.ttf");
}
@font-face {
    font-family: 'Nunito Sans';
    font-weight: 400;
    src: url("../fonts/Nunito_Sans/static/NunitoSans_10pt-Regular.ttf");
}

* {
    font-family: 'Nunito Sans', sans-serif;
}
html, body {
    scroll-behavior: smooth;
}
body {
    color: #323232;
    line-height: 1.2;
}

section {
    overflow: hidden;
}

.container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem; /* 20px / 16px = 1.25rem */
    padding-right: 1.25rem; /* 20px / 16px = 1.25rem */
}

@media (min-width: 1024px) {
    .container {
        max-width: 1184px;
    }
}

@media (min-width: 1280px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.container-fluid {
    max-width: 480px;
}

@media (min-width: 1024px) {
    .container-fluid {
        max-width: 1304px !important;
    }
}

.v-stack {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; /* 12px / 16px = 0.75rem */
}

@media (min-width: 1024px) {
    .v-stack {
        gap: 1.5rem; /* 24px / 16px = 1.5rem */
    }
}

.tab-item {
    font-size: 0.875rem; /* 14px / 16px = 0.875rem */
    text-transform: uppercase;
    padding-left: 0.875rem; /* 14px / 16px = 0.875rem */
    padding-right: 0.875rem; /* 14px / 16px = 0.875rem */
    padding-top: 0.5rem; /* 8px / 16px = 0.5rem */
    padding-bottom: 0.5rem; /* 8px / 16px = 0.5rem */
    border-radius: 9999px; /* rounded-full */
    border: 1px solid #E1261C;
    transition: background-color 100ms ease;
}

.tab-item:hover {
    background-color: #f5f5f5;
}

.tab-item.active {
    background-color: #E1261C;
    color: white;
}

.nav-link {
    line-height: 1 !important;
}

.nav-link.active, .nav-link:hover, .group:hover > .nav-link{
    border-bottom: 1px solid #E1261C;
    color: #E1261C;
}

.nav-link-sm, #mobile-menus label .icon {
    opacity: 0.5;
}

.nav-link-sm.active, #mobile-menus label .nav-link-sm.active ~ .icon {
    opacity: 1;
}

.navbar-dark.on-scrolling {
    background-color: white;
    border-bottom: 1px solid #F5F5F5;
}

.navbar-dark.on-scrolling .nav-link,
.navbar-dark.on-scrolling .menu-bar {
    color: #323232;
}
.navbar-dark.on-scrolling label[for="mobile-menus-checkbox"] span {
    background: #333;
}

.navbar-dark .logo {
    filter: brightness(0) invert(1);
}

.navbar-dark.on-scrolling .logo {
    filter: none;
}

.navbar-dark.on-scrolling .nav-link.active {
    border-bottom: 1px solid #E1261C;
    color: #E1261C;
}

.contact-maps-wrapper iframe {
    width: 100%;
    height: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem !important; /* 24px/16px = 1.5rem */
}

.form-group label {
    margin-bottom: 0.375rem !important; /* 6px / 16px = 0.375rem */
    display: inline-block !important;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding-left: 0.75rem; /* 12px / 16px = 0.75rem */
    padding-right: 0.75rem; /* 12px / 16px = 0.75rem */
    padding-top: 0.75rem; /* 12px / 16px = 0.75rem */
    padding-bottom: 0.75rem; /* 12px / 16px = 0.75rem */
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    color: #353535;
    outline: none;
}
.form-group input::placeholder,
.form-group textarea::placeholder
{
    color: #C0C0C0;
    opacity: 1; /* Firefox */
}
.form-group input::-ms-input-placeholder,
.form-group textarea::-ms-input-placeholder /* Edge 12 -18 */
{
    color: #C0C0C0;
}
.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid #E1261C;
}

#loader {
    pointer-events: none;
    opacity: 0;
    transition: 0.2s ease-out;
}

#loader.active {
    opacity: 1;
    pointer-events: auto;
}

/*#loader.out {*/
/*    transform: translateY(100%);*/
/*    pointer-events: auto;*/
/*    transition: 0.3s linear;*/
/*    transition-delay: 0.3s;*/
/*}*/

/*#loader.out .loader-wrapper {*/
/*    opacity: 0;*/
/*    transition: 0.2s linear;*/
/*    transition-delay: 0s;*/
/*}*/

#mobile-menus-checkbox:checked ~ .navbar #mobile-menus,
#mobile-menus-checkbox:checked ~ .navbar-dark #mobile-menus {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    #mobile-menus-checkbox:checked ~ .navbar #mobile-menus,
    #mobile-menus-checkbox:checked ~ .navbar-dark #mobile-menus {
        display: none;
    }
}

#mobile-menus-checkbox:checked ~ .navbar,
#mobile-menus-checkbox:checked ~ .navbar-dark {
    background-color: #323232 !important;
}

#mobile-menus-checkbox ~ .navbar label span {
    transition: 0.1s ease;
}

#mobile-menus-checkbox:checked ~ .navbar label span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 24px;
}

#mobile-menus-checkbox:checked ~ .navbar label span:nth-child(2) {
    opacity: 0 !important;
}

#mobile-menus-checkbox:checked ~ .navbar label span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 24px;
}

#mobile-menus-checkbox:checked ~ .navbar label span {
    background-color: white !important;
}

#mobile-menus-checkbox:checked ~ .navbar .logo {
    filter: brightness(0) invert(1);
}

a:not(.btn):not(.tab-item):not(.logo-wrapper):not(.nav-link.active):not(.social-link-item):not(.product-item):not(.modal-close):not(.btn-back):not(.nav-link-sm) {
    display: inline-flex !important;
    transition: color 200ms ease;
}

a:not(.btn):not(.tab-item):not(.logo-wrapper):not(.nav-link.active):not(.social-link-item):not(.product-item):not(.modal-close):not(.btn-back):not(.nav-link-sm):hover {
    color: #E1261C;
}

.project-item {
    cursor: pointer;
    opacity: 0.5;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;
    transition: opacity 200ms ease;
}

.project-item:hover {
    opacity: 0.7;
}

.project-item.active {
    border-color: #E1261C;
    opacity: 1;
}

.project-nav {
    background-color: white;
    border: 1px solid #E1261C;
    color: #E1261C;
    transition: background-color 200ms ease, border-color 200ms ease, color 200ms ease;
    cursor: pointer;
}

.project-nav.disabled {
    background-color: #F2F2F2;
    border-color: #C0C0C0;
    color: #C0C0C0;
    cursor: default;
}

.news-content h1 {
    font-size: 32px;
}
.news-content h2 {
    font-size: 24px;
}
.news-content h3 {
    font-size: 16px;
}
.news-content h4 {
    font-size: 14px;
}
.news-content > * {
    margin: 1rem 0;
}
.news-content img, .news-content video {
    position: relative;
    width: 100%;
    margin: 1.5rem 0;
}
@media (min-width: 1024px) {
    .news-content h1 {
        font-size: 44px;
    }
    .news-content h2 {
        font-size: 32px;
    }
    .news-content h3 {
        font-size: 24px;
    }
    .news-content h4 {
        font-size: 20px;
    }
    .news-content img, .news-content video {
        width: 150%;
        max-width: 1184px;
        transform: translateX(-16.8%);
    }
}

.hero-nav-item.active {
    background: #E1261C;
}
.background-slideshow-image {
    transition: .6s ease;
    opacity: 0;
}
.background-slideshow-image.active {
    opacity: 1;
}

#header {
    transition: 0.8s;
    transition-property: background-color, transform;
}
#header.hide {
    transform: translateY(-100%);
}

.mobile-menus-toggle:checked ~ .sub-menu {
    display: block;
}

.mobile-menus-toggle:checked ~ label .icon {
    rotate: 180deg;
}

.category-description h3 {
    font-size: 42px;
    line-height: 1.2;
}
@media (max-width: 768px) {
    .category-description h3 {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    .category-description {
        margin-top: 0;
    }
}

.loader {
    border: 4px solid #E1261C;
    border-left-color: transparent;
    border-radius: 50%;
    opacity: 0;
    width: 36px;
    height: 36px;
    transition: .2s;
}

#loader.active .loader {
    border: 4px solid #E1261C;
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
    animation-delay: 3s;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.custom-content * {
    line-height: 1.5;
    margin: 0.5rem 0;
}
.custom-content ul, .custom-content ol {
    padding-left: 1.5rem;
}
.custom-content ul {
    list-style-type: disc;
}
.custom-content ol {
    list-style-type: decimal;
}
.custom-content h1, .custom-content h2, .custom-content h3, .custom-content h4, .custom-content h5, .custom-content h6 {
    font-weight: bold;
}
.custom-content h1 {
    font-size: 44px;
}
.custom-content h2 {
    font-size: 32px;
}
.custom-content h3 {
    font-size: 24px;
}
.custom-content h4 {
    font-size: 22px;
}
.custom-content h5 {
    font-size: 18px;
}
.custom-content h6 {
    font-size: 16px;
}